body {
	background-image: url("https://images.unsplash.com/photo-1534455700361-eca9c3dbc981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	   }

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1	{
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 35%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	}

.fas.fa-camera-retro {
	font-size: 40px;
}

.nav.navbar-nav.navbar-right a {
	padding: 10px;
	color: white;
}

/* .content1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 18px;
	padding-left: 150px;
	padding-right: 150px;
	background:rgba(255,255,255,0.5);
	margin: 150px 150px 25px 150px;
	min-block-size: 20px;
} */

.content1 {
	text-align: center;
	padding-top: 10%;
	width: 250px;
	margin-left: 40%;
	margin-right: 40%;
	/* background:rgba(255,255,255,0.5);
	height: 300px; */

}

.container1 {
	
}


.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


}
.form-group {
	font-weight: 50;
	font-size: 20px;
	font-family: "Lato"
}