body {
	background-image: url("https://images.unsplash.com/photo-1534455700361-eca9c3dbc981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	   }

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1	{
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 35%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	}

.fas.fa-camera-retro {
	font-size: 40px;
}

.nav.navbar-nav.navbar-right a {
	padding: 10px;
	color: white;
}

/* Sign in */

.content1 {
	text-align: center;
	padding-top: 5%;
	min-width: 60%;
	max-width: 60%;
	margin-left: 20%;
	margin-right: 30%;
	background:rgba(255,255,255,0.5);
	margin-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 5%;
}

.form-group {
	min-width: 50px;
}


.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


}
.form-group {
	font-weight: 50;
	font-size: 20px;
	font-family: "Lato"
}

/* sign up */

.content2 {
	text-align: center;
	padding-top: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	font-weight: 50;
	font-size: 20px;
	font-family: "Lato";
	min-width: 80%;
	max-width: 80%;	
	}
	
.container2 {
	padding-left: 25%;
	padding-right: 15%;
	padding-bottom: 5%;
}

.container3 {
	background: rgba(255,255,255,0.5);
	display: inline-table;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
}

	